<ion-header>
  <ion-navbar color="energized">
    <ion-title>Variaveis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo">
  <ion-card *ngIf="mLabel == 'Valor consumivel'">

    <ion-list>
      <ion-list-header color="mostaza">Insira seus valores:</ion-list-header>
      <ion-item>
        <ion-label stacked>Número de passes</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-analytics" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="numPass"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>

      <ion-item>
        <ion-label stacked>Mão de Obra</ion-label>
        <ion-note item-end>R$/H</ion-note>

        <ion-icon name="md-hand" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="mObra"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label stacked>Comprimento do Cordão</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-hammer" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="comCord">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label stacked>Diametro</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-planet" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="d"></ion-input>
        
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label stacked>Valor consumivel</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name='{{mLogo}}' item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="valor"></ion-input>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <ion-label stacked>Valor do investimento</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-card" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="valInves">
        </ion-input>
      </ion-item>
    </ion-list>

  </ion-card>





  <ion-card *ngIf="mLabel == 'Custo do Gas'">

    <ion-list>
      <ion-list-header color="mostaza">Insira seus valores:</ion-list-header>
      <ion-item>
        <ion-label stacked>Número de passes</ion-label>

        <ion-icon name="ios-analytics" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="numPass"></ion-input>
        <ion-note item-end>Kg</ion-note>
      </ion-item>
    </ion-list>

    <ion-list>

      <ion-item>
        <ion-label stacked>Mão de Obra</ion-label>
        <ion-note item-end>R$/H</ion-note>

        <ion-icon name="md-hand" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="mObra"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label stacked>Comprimento do Cordão</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-hammer" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="comCord">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label stacked>Diametro</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-planet" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="d"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label stacked>Custo do Gas</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name='{{mLogo}}' item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="valor"></ion-input>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <ion-label stacked>Valor do investimento</ion-label>
        <ion-note item-end>Kg</ion-note>

        <ion-icon name="ios-card" item-start></ion-icon>
        <ion-input type="number" [(ngModel)]="valInves">
        </ion-input>
      </ion-item>
    </ion-list>

  </ion-card>

  <button ion-button block color="mostaza" (click)="resul()">Resultados</button>


</ion-content>